.fuente {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
/*Barra de navegacion */
.navbar {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.navbar .nav-item .nav-link:hover {
    color: rgba(250, 104, 42,.9);
}
.navbar .nav-item .nav-link {
    color: rgba(60, 60, 60,.9);
    font-size: 17px;
}
@media(min-width: 770px){
    .navbar .ocultar{
        display: none;
    }
}

/*Presentacion */
.presentacion {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 5px 0px 5px 0px;        
}
.presentacion h1 {
    padding: 15px;
}
.presentacion img {
    border-radius: 5px;
}
.presentacion .background-overlay {
    background-color: rgba(223, 230, 233,.7);
}

/*Promociones */
.promociones {
    border-bottom: 5px solid;
    min-height: 430px;
}
.promociones img {
    border-radius: 20px;
}
.promociones .carousel-control-next-icon{
    padding: 20px;
    margin-left: 190px;
}
.promociones .carousel-control-prev-icon{
    padding: 20px;
    margin-left: -230px;
}

/*Quienes somos */
.equipo {
    background-color: rgba(223, 230, 233,.7);
    min-height: 560px;
}
.equipo .card {
    border:none;
    border-radius: 10px;
    background-color: rgba(60, 60, 60,0)
}
.equipo .card-image-top {
    max-height: 160px;
    max-width: 190px;
    border-radius: 50%;
}
.equipo .card-image-top:hover {
    border-radius: 10%;
    max-height: 270px;
    max-width: 300px;
}

/*Pie de pagina */
footer {
    margin: 0%;
    padding: 0%;
    background-color: rgba(0,0,0,.6);
    color: whitesmoke;
    text-align: center;
}
footer p {
    margin: 0%;
}

/*Generales */
.titulo {
    color: rgba(60, 60, 60,.7);
}


